.logo {
  margin: 0;
  cursor: pointer;
  border: none;
}

.header_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0px;
}

.header_wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: var(--bg-shallow);
  display: none;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand .logo {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-primary);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav .nav_item {
  text-decoration: none;
  padding: 15px 16px;
  color: var(--text-primary);
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  transition: background-color 0.1s ease-in;
}

.nav_item:hover {
  background-color: var(--accent-hover);
}

.active {
  background-color: var(--accent-hover);
  color: var(--accent-primary) !important;
}

.toggle_menu {
  color: var(--text-primary);
  cursor: pointer;
  display: none;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.toggle_menu svg {
  background-color: transparent;
}

.toggle_menu:hover {
  background-color: var(--bg-shallow);
}

.socials {
  padding: 8px;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.socials:hover {
  transform: scale(1.05);
}

.socials svg {
  color: white;
}

.box_nav {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .brand .logo {
    font-size: 1.4rem;
  }
  .nav {
    display: none;
  }

  .toggle_menu {
    display: block;
  }

  .header_wrapper::after {
    display: block;
  }
}
