.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0px;
}

.box_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  gap: 20px;
  font-size: var(--heading-h4);
}



.hero_intro {
  margin: 0;
  font-size: var(--text-lg);
  font-weight: 500;
}

.hero_jump {
  width: 250px;
}



/* ===== Mobile first ===== */

/* ≥ 640px (sm) */
@media (min-width: 640px) {
}

/* ≥ 768px (md) */
@media (min-width: 768px) {
}

/* ≥ 1024px (lg) */
@media (min-width: 1024px) {
  .hero_title{
    font-size: var(--heading-h2);
  }
}

/* ≥ 1280px (xl) */
@media (min-width: 1280px) {
}

/* ≥ 1536px (2xl) */
@media (min-width: 1536px) {
}
