@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
   background-color: var(--bg-page);
}

html,body{
  margin: 0;
  padding: 0;
 
}

