@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-background);
  color: var(--foreground);

  font-family: 'Montserrat', system-ui, sans-serif;
  line-height: 1.7;
}
