/* ===== THEME TOKENS ===== */

:root {
  /* Light theme */
  --bg-background: #ffffff;
  --bg-posts: #eefcff;
  --foreground: #0f172a;
  --muted: #475569;
  --border: #e2e8f0;
  --primary: #38bdf8;


  --border-subtle: rgb(221 223 230);
  --border-default: rgba(255, 255, 255, 0.15);

  --primary-hover: #e6f7ff;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;

  --heading-h6: 1.125rem;
  --heading-h5: 1.25rem;
  --heading-h4: 1.5rem;
  --heading-h3: 1.875rem;
  --heading-h2: 2.25rem;
  --heading-h1: 2.75rem;
}

/* Dark theme */
[data-theme='dark'] {
  --bg-background: #020617;
  --bg-posts: #173b44;
  --foreground: #F6F7F9;
  --muted: #94a3b8;
  --border: #1e293b;
  --primary: rgb(88 196 220);

  --border-subtle: rgb(61 68 82);
  

  --primary-hover: #333a45;

}
