.box_img{
  position: relative;
  width: 550px;
  padding: 25px 0px;
  background-color: var(--bg-page-bold);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 10px;

}

.hero_img{
 
  width: 100%;
  border-radius: 10px;
  right: 20px;
}