.nav_mobile{
  position: absolute;
  background-color: var(--bg-page);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.nav_item_mobile{
  text-decoration: none;
  padding: 12px;
  color: var(--text-primary);
}

.nav_item_mobile:hover{
  background-color: var(--accent-hover);
  color: var(--accent-primary);
  font-weight: 600;
}

.nav_parents{
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
}


.btn_parent{
  padding: 8px;
  background: transparent;
  color: var(--text-secondary);
  border-radius: 20px;
  border: none;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.btn_parent:hover{
  background-color: var(--accent-hover);
}

.nav_children{
  display: flex;
  flex-direction: column;
}

.child{
  text-decoration: none;
  padding: 13px 0px 13px 20px;
  font-weight: 600;
  font-size: 15px;
  color: var(--text-secondary);
  transition: all 0.1s ease;
}

.child:hover{
  background-color: var(--accent-hover);
  color: var(--accent-primary);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--bg-shallow);
  margin: 16px auto;
  border-radius: 2px;
}

.active {
  background-color: var(--accent-hover);
  color: var(--accent-primary) !important;
}

